{
    "presets": [
        "env",
        "react"
    ],
    "env": {
        "presets": [
            "react-hmre"
        ]
    },
    "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css"}]
    ]
}